body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:-21px;
  width:852px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5135 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u5136 {
  position:absolute;
  left:51px;
  top:161px;
  width:375px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u5137 {
  position:absolute;
  left:0px;
  top:6px;
  width:375px;
  word-wrap:break-word;
}
#u5138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#3478F7;
  text-align:left;
  line-height:20px;
}
#u5138 {
  position:absolute;
  left:51px;
  top:161px;
  width:81px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#3478F7;
  text-align:left;
  line-height:20px;
}
#u5138_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#3478F7;
  text-align:left;
  line-height:20px;
}
#u5138.mouseDown {
  opacity:0.5;
}
#u5139 {
  position:absolute;
  left:20px;
  top:14px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#3478F7;
  line-height:20px;
}
#u5140 {
  position:absolute;
  left:377px;
  top:161px;
  width:40px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#3478F7;
  line-height:20px;
}
#u5140_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#3478F7;
  line-height:20px;
}
#u5140.mouseDown {
  opacity:0.5;
}
#u5141 {
  position:absolute;
  left:0px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#3478F7;
  line-height:20px;
}
#u5142 {
  position:absolute;
  left:327px;
  top:161px;
  width:40px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#3478F7;
  line-height:20px;
}
#u5142_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#3478F7;
  line-height:20px;
}
#u5142.mouseDown {
  opacity:0.5;
}
#u5143 {
  position:absolute;
  left:0px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5145 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:108px;
}
#u5146 {
  position:absolute;
  left:21px;
  top:26px;
  width:438px;
  height:108px;
}
#u5147 {
  position:absolute;
  left:2px;
  top:46px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:666px;
}
#u5148 {
  position:absolute;
  left:21px;
  top:134px;
  width:31px;
  height:666px;
}
#u5149 {
  position:absolute;
  left:2px;
  top:325px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:666px;
}
#u5150 {
  position:absolute;
  left:426px;
  top:134px;
  width:33px;
  height:666px;
}
#u5151 {
  position:absolute;
  left:2px;
  top:325px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:112px;
}
#u5152 {
  position:absolute;
  left:21px;
  top:800px;
  width:438px;
  height:112px;
}
#u5153 {
  position:absolute;
  left:2px;
  top:48px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5154 {
  position:absolute;
  left:21px;
  top:921px;
  width:436px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5155 {
  position:absolute;
  left:63px;
  top:174px;
  width:15px;
  height:15px;
}
#u5156 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:300px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5157 {
  position:absolute;
  left:51px;
  top:198px;
  width:375px;
  height:300px;
}
#u5158 {
  position:absolute;
  left:2px;
  top:142px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5159 {
  position:absolute;
  left:72px;
  top:208px;
  width:90px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u5160 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u5161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5161 {
  position:absolute;
  left:72px;
  top:243px;
  width:90px;
  height:19px;
  font-size:16px;
}
#u5162 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u5163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(75, 216, 99, 1);
  border:none;
  border-radius:20px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u5163 {
  position:absolute;
  left:351px;
  top:215px;
  width:75px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u5164 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  word-wrap:break-word;
}
#u5165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u5165 {
  position:absolute;
  left:151px;
  top:343px;
  width:40px;
  height:20px;
}
#u5166 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u5167 {
  position:absolute;
  left:287px;
  top:343px;
  width:40px;
  height:20px;
}
#u5168 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5169 {
  position:absolute;
  left:214px;
  top:294px;
  width:50px;
  height:50px;
}
#u5170 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5171 {
  position:absolute;
  left:219px;
  top:299px;
  width:40px;
  height:40px;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:20px;
  color:#FF9900;
}
#u5172 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u5173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:50px;
}
#u5173 {
  position:absolute;
  left:209px;
  top:347px;
  width:21px;
  height:50px;
}
#u5174 {
  position:absolute;
  left:2px;
  top:17px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:100px;
}
#u5175 {
  position:absolute;
  left:251px;
  top:346px;
  width:21px;
  height:100px;
}
#u5176 {
  position:absolute;
  left:2px;
  top:42px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
}
#u5177 {
  position:absolute;
  left:164px;
  top:335px;
  width:150px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4BD863;
}
#u5178 {
  position:absolute;
  left:2px;
  top:2px;
  width:146px;
  word-wrap:break-word;
}
#u5179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:51px;
}
#u5179 {
  position:absolute;
  left:51px;
  top:497px;
  width:375px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u5180 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  word-wrap:break-word;
}
#u5181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u5181 {
  position:absolute;
  left:402px;
  top:512px;
  width:15px;
  height:20px;
}
#u5182 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:51px;
}
#u5183 {
  position:absolute;
  left:51px;
  top:547px;
  width:375px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u5184 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  word-wrap:break-word;
}
#u5185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u5185 {
  position:absolute;
  left:402px;
  top:557px;
  width:15px;
  height:20px;
}
#u5186 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:51px;
}
#u5187 {
  position:absolute;
  left:51px;
  top:597px;
  width:375px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u5188 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  word-wrap:break-word;
}
#u5189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u5189 {
  position:absolute;
  left:403px;
  top:611px;
  width:15px;
  height:20px;
}
#u5190 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5191 {
  position:absolute;
  left:853px;
  top:14px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5192 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u5194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u5194 {
  position:absolute;
  left:51px;
  top:134px;
  width:375px;
  height:28px;
}
#u5195 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5196 {
  position:absolute;
  left:395px;
  top:171px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5197 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u5199 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#C6BED3;
  line-height:20px;
}
#u5200 {
  position:absolute;
  left:51px;
  top:741px;
  width:374px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#C6BED3;
  line-height:20px;
}
#u5201 {
  position:absolute;
  left:0px;
  top:22px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u5202 {
  position:absolute;
  left:51px;
  top:741px;
  width:94px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u5203 {
  position:absolute;
  left:0px;
  top:22px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u5204 {
  position:absolute;
  left:145px;
  top:741px;
  width:94px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u5205 {
  position:absolute;
  left:0px;
  top:22px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u5206 {
  position:absolute;
  left:239px;
  top:741px;
  width:94px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u5207 {
  position:absolute;
  left:0px;
  top:22px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u5208 {
  position:absolute;
  left:332px;
  top:741px;
  width:94px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u5209 {
  position:absolute;
  left:0px;
  top:22px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u5210 {
  position:absolute;
  left:87px;
  top:748px;
  width:24px;
  height:23px;
}
#u5211 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5212 {
  position:absolute;
  left:84px;
  top:772px;
  width:30px;
  height:18px;
}
#u5213 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u5214 {
  position:absolute;
  left:180px;
  top:749px;
  width:24px;
  height:23px;
}
#u5215 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5216 {
  position:absolute;
  left:162px;
  top:772px;
  width:59px;
  height:18px;
}
#u5217 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5218 {
  position:absolute;
  left:273px;
  top:773px;
  width:30px;
  height:18px;
}
#u5219 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5220 {
  position:absolute;
  left:272px;
  top:745px;
  width:30px;
  height:30px;
}
#u5221 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5222 {
  position:absolute;
  left:350px;
  top:772px;
  width:59px;
  height:18px;
}
#u5223 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u5224 {
  position:absolute;
  left:371px;
  top:749px;
  width:22px;
  height:21px;
}
#u5225 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
