body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:-21px;
  width:438px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u3797 {
  position:absolute;
  left:51px;
  top:133px;
  width:375px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u3798 {
  position:absolute;
  left:0px;
  top:6px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u3800 {
  position:absolute;
  left:51px;
  top:133px;
  width:375px;
  height:28px;
}
#u3801 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3802 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  line-height:28px;
}
#u3803 {
  position:absolute;
  left:51px;
  top:161px;
  width:375px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  line-height:28px;
}
#u3804 {
  position:absolute;
  left:0px;
  top:6px;
  width:375px;
  word-wrap:break-word;
}
#u3805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3805 {
  position:absolute;
  left:64px;
  top:174px;
  width:15px;
  height:15px;
  color:#FFFFFF;
}
#u3806 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3808 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:108px;
}
#u3809 {
  position:absolute;
  left:21px;
  top:26px;
  width:438px;
  height:108px;
}
#u3810 {
  position:absolute;
  left:2px;
  top:46px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:666px;
}
#u3811 {
  position:absolute;
  left:21px;
  top:134px;
  width:31px;
  height:666px;
}
#u3812 {
  position:absolute;
  left:2px;
  top:325px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:666px;
}
#u3813 {
  position:absolute;
  left:426px;
  top:134px;
  width:33px;
  height:666px;
}
#u3814 {
  position:absolute;
  left:2px;
  top:325px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:112px;
}
#u3815 {
  position:absolute;
  left:21px;
  top:800px;
  width:438px;
  height:112px;
}
#u3816 {
  position:absolute;
  left:2px;
  top:48px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3817 {
  position:absolute;
  left:21px;
  top:912px;
  width:436px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:552px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3818 {
  position:absolute;
  left:51px;
  top:199px;
  width:375px;
  height:552px;
}
#u3819 {
  position:absolute;
  left:2px;
  top:268px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3820 {
  position:absolute;
  left:51px;
  top:202px;
  width:375px;
  height:109px;
}
#u3821 {
  position:absolute;
  left:2px;
  top:46px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3822 {
  position:absolute;
  left:51px;
  top:313px;
  width:375px;
  height:109px;
}
#u3823 {
  position:absolute;
  left:2px;
  top:46px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3824 {
  position:absolute;
  left:51px;
  top:424px;
  width:375px;
  height:109px;
}
#u3825 {
  position:absolute;
  left:2px;
  top:46px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3826 {
  position:absolute;
  left:51px;
  top:535px;
  width:375px;
  height:109px;
}
#u3827 {
  position:absolute;
  left:2px;
  top:46px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:86px;
}
#u3828 {
  position:absolute;
  left:64px;
  top:211px;
  width:140px;
  height:86px;
}
#u3829 {
  position:absolute;
  left:2px;
  top:35px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3830 {
  position:absolute;
  left:222px;
  top:230px;
  width:146px;
  height:19px;
  font-size:12px;
}
#u3831 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u3832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#A1A1A1;
}
#u3832 {
  position:absolute;
  left:221px;
  top:262px;
  width:135px;
  height:14px;
  font-size:12px;
  color:#A1A1A1;
}
#u3833 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u3834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:86px;
}
#u3834 {
  position:absolute;
  left:64px;
  top:325px;
  width:140px;
  height:86px;
}
#u3835 {
  position:absolute;
  left:2px;
  top:35px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3836 {
  position:absolute;
  left:222px;
  top:344px;
  width:146px;
  height:19px;
  font-size:12px;
}
#u3837 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u3838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#A1A1A1;
}
#u3838 {
  position:absolute;
  left:221px;
  top:376px;
  width:135px;
  height:14px;
  font-size:12px;
  color:#A1A1A1;
}
#u3839 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u3840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:86px;
}
#u3840 {
  position:absolute;
  left:64px;
  top:436px;
  width:140px;
  height:86px;
}
#u3841 {
  position:absolute;
  left:2px;
  top:35px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3842 {
  position:absolute;
  left:222px;
  top:455px;
  width:146px;
  height:19px;
  font-size:12px;
}
#u3843 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u3844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#A1A1A1;
}
#u3844 {
  position:absolute;
  left:221px;
  top:487px;
  width:135px;
  height:14px;
  font-size:12px;
  color:#A1A1A1;
}
#u3845 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u3846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:86px;
}
#u3846 {
  position:absolute;
  left:64px;
  top:543px;
  width:140px;
  height:86px;
}
#u3847 {
  position:absolute;
  left:2px;
  top:35px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3848 {
  position:absolute;
  left:222px;
  top:562px;
  width:146px;
  height:19px;
  font-size:12px;
}
#u3849 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u3850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#A1A1A1;
}
#u3850 {
  position:absolute;
  left:221px;
  top:594px;
  width:135px;
  height:14px;
  font-size:12px;
  color:#A1A1A1;
}
#u3851 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u3852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u3852 {
  position:absolute;
  left:184px;
  top:664px;
  width:116px;
  height:16px;
  color:#C9C9C9;
}
#u3853 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u3854 {
  position:absolute;
  left:389px;
  top:242px;
  width:29px;
  height:29px;
}
#u3855 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u3856 {
  position:absolute;
  left:389px;
  top:353px;
  width:29px;
  height:29px;
}
#u3857 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u3858 {
  position:absolute;
  left:389px;
  top:465px;
  width:29px;
  height:29px;
}
#u3859 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u3860 {
  position:absolute;
  left:389px;
  top:572px;
  width:29px;
  height:29px;
}
#u3861 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3863 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#C6BED3;
  line-height:20px;
}
#u3864 {
  position:absolute;
  left:51px;
  top:741px;
  width:374px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#C6BED3;
  line-height:20px;
}
#u3865 {
  position:absolute;
  left:0px;
  top:22px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u3866 {
  position:absolute;
  left:51px;
  top:741px;
  width:94px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u3867 {
  position:absolute;
  left:0px;
  top:22px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u3868 {
  position:absolute;
  left:145px;
  top:741px;
  width:94px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u3869 {
  position:absolute;
  left:0px;
  top:22px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u3870 {
  position:absolute;
  left:239px;
  top:741px;
  width:94px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u3871 {
  position:absolute;
  left:0px;
  top:22px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u3872 {
  position:absolute;
  left:332px;
  top:741px;
  width:94px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u3873 {
  position:absolute;
  left:0px;
  top:22px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u3874 {
  position:absolute;
  left:87px;
  top:748px;
  width:24px;
  height:23px;
}
#u3875 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3876 {
  position:absolute;
  left:84px;
  top:772px;
  width:30px;
  height:18px;
}
#u3877 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u3878 {
  position:absolute;
  left:180px;
  top:749px;
  width:24px;
  height:23px;
}
#u3879 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3880 {
  position:absolute;
  left:162px;
  top:772px;
  width:59px;
  height:18px;
}
#u3881 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3882 {
  position:absolute;
  left:273px;
  top:773px;
  width:30px;
  height:18px;
}
#u3883 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3884 {
  position:absolute;
  left:272px;
  top:745px;
  width:30px;
  height:30px;
}
#u3885 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3886 {
  position:absolute;
  left:350px;
  top:772px;
  width:59px;
  height:18px;
}
#u3887 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u3888 {
  position:absolute;
  left:371px;
  top:749px;
  width:22px;
  height:21px;
}
#u3889 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
