body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:-21px;
  width:438px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u5931 {
  position:absolute;
  left:51px;
  top:133px;
  width:375px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u5932 {
  position:absolute;
  left:0px;
  top:6px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u5934 {
  position:absolute;
  left:51px;
  top:133px;
  width:375px;
  height:28px;
}
#u5935 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5936 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  line-height:28px;
}
#u5937 {
  position:absolute;
  left:51px;
  top:161px;
  width:375px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  line-height:28px;
}
#u5938 {
  position:absolute;
  left:0px;
  top:6px;
  width:375px;
  word-wrap:break-word;
}
#u5940 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:108px;
}
#u5941 {
  position:absolute;
  left:21px;
  top:26px;
  width:438px;
  height:108px;
}
#u5942 {
  position:absolute;
  left:2px;
  top:46px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:666px;
}
#u5943 {
  position:absolute;
  left:21px;
  top:134px;
  width:31px;
  height:666px;
}
#u5944 {
  position:absolute;
  left:2px;
  top:325px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:666px;
}
#u5945 {
  position:absolute;
  left:426px;
  top:134px;
  width:33px;
  height:666px;
}
#u5946 {
  position:absolute;
  left:2px;
  top:325px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:112px;
}
#u5947 {
  position:absolute;
  left:21px;
  top:800px;
  width:438px;
  height:112px;
}
#u5948 {
  position:absolute;
  left:2px;
  top:48px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5949 {
  position:absolute;
  left:21px;
  top:912px;
  width:436px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5950 {
  position:absolute;
  left:64px;
  top:174px;
  width:15px;
  height:15px;
}
#u5951 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:602px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5952 {
  position:absolute;
  left:51px;
  top:201px;
  width:375px;
  height:602px;
}
#u5953 {
  position:absolute;
  left:2px;
  top:293px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5954 {
  position:absolute;
  left:51px;
  top:200px;
  width:375px;
  height:47px;
}
#u5955 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5956 {
  position:absolute;
  left:73px;
  top:216px;
  width:73px;
  height:18px;
}
#u5957 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5958 {
  position:absolute;
  left:216px;
  top:216px;
  width:59px;
  height:18px;
}
#u5959 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5960 {
  position:absolute;
  left:358px;
  top:201px;
  width:68px;
  height:46px;
}
#u5961 {
  position:absolute;
  left:2px;
  top:15px;
  width:64px;
  word-wrap:break-word;
}
#u5962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:177px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5962 {
  position:absolute;
  left:51px;
  top:249px;
  width:375px;
  height:177px;
}
#u5963 {
  position:absolute;
  left:2px;
  top:80px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5964 {
  position:absolute;
  left:138px;
  top:354px;
  width:85px;
  height:16px;
  font-size:12px;
}
#u5965 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5966 {
  position:absolute;
  left:138px;
  top:374px;
  width:68px;
  height:14px;
  font-size:12px;
}
#u5967 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u5968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5968 {
  position:absolute;
  left:138px;
  top:393px;
  width:80px;
  height:14px;
  font-size:12px;
}
#u5969 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u5970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:77px;
}
#u5970 {
  position:absolute;
  left:138px;
  top:267px;
  width:128px;
  height:77px;
}
#u5971 {
  position:absolute;
  left:2px;
  top:30px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5972 {
  position:absolute;
  left:51px;
  top:766px;
  width:375px;
  height:37px;
}
#u5973 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:177px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5974 {
  position:absolute;
  left:51px;
  top:428px;
  width:375px;
  height:177px;
}
#u5975 {
  position:absolute;
  left:2px;
  top:80px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5976 {
  position:absolute;
  left:138px;
  top:533px;
  width:85px;
  height:16px;
  font-size:12px;
}
#u5977 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5978 {
  position:absolute;
  left:138px;
  top:553px;
  width:68px;
  height:14px;
  font-size:12px;
}
#u5979 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u5980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5980 {
  position:absolute;
  left:138px;
  top:572px;
  width:80px;
  height:14px;
  font-size:12px;
}
#u5981 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u5982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:77px;
}
#u5982 {
  position:absolute;
  left:138px;
  top:446px;
  width:128px;
  height:77px;
}
#u5983 {
  position:absolute;
  left:2px;
  top:30px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5984 {
  position:absolute;
  left:361px;
  top:777px;
  width:30px;
  height:18px;
}
#u5985 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5986 {
  position:absolute;
  left:84px;
  top:328px;
  width:100px;
  height:16px;
  font-size:48px;
}
#u5987 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5986_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5988 {
  position:absolute;
  left:89px;
  top:501px;
  width:100px;
  height:16px;
}
#u5989 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5988_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5990 {
  position:absolute;
  left:89px;
  top:777px;
  width:100px;
  height:16px;
}
#u5991 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5990_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
