body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:-21px;
  width:438px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5602_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u5602 {
  position:absolute;
  left:51px;
  top:133px;
  width:375px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u5603 {
  position:absolute;
  left:0px;
  top:6px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5605_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u5605 {
  position:absolute;
  left:51px;
  top:133px;
  width:375px;
  height:28px;
}
#u5606 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5607 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  line-height:28px;
}
#u5608 {
  position:absolute;
  left:51px;
  top:161px;
  width:375px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  line-height:28px;
}
#u5609 {
  position:absolute;
  left:0px;
  top:6px;
  width:375px;
  word-wrap:break-word;
}
#u5610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u5610 {
  position:absolute;
  left:51px;
  top:161px;
  width:81px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u5610_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u5610.mouseDown {
  opacity:0.5;
}
#u5611 {
  position:absolute;
  left:20px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u5612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5612 {
  position:absolute;
  left:61px;
  top:174px;
  width:15px;
  height:15px;
}
#u5613 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#3478F7;
  line-height:20px;
}
#u5614 {
  position:absolute;
  left:377px;
  top:161px;
  width:40px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#3478F7;
  line-height:20px;
}
#u5614_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#3478F7;
  line-height:20px;
}
#u5614.mouseDown {
  opacity:0.5;
}
#u5615 {
  position:absolute;
  left:0px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#3478F7;
  line-height:20px;
}
#u5616 {
  position:absolute;
  left:327px;
  top:161px;
  width:40px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#3478F7;
  line-height:20px;
}
#u5616_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#3478F7;
  line-height:20px;
}
#u5616.mouseDown {
  opacity:0.5;
}
#u5617 {
  position:absolute;
  left:0px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5619 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#C6BED3;
  line-height:20px;
}
#u5620 {
  position:absolute;
  left:51px;
  top:751px;
  width:374px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#C6BED3;
  line-height:20px;
}
#u5621 {
  position:absolute;
  left:0px;
  top:22px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u5622 {
  position:absolute;
  left:51px;
  top:751px;
  width:94px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u5623 {
  position:absolute;
  left:0px;
  top:22px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u5624 {
  position:absolute;
  left:145px;
  top:751px;
  width:94px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u5625 {
  position:absolute;
  left:0px;
  top:22px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u5626 {
  position:absolute;
  left:239px;
  top:751px;
  width:94px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u5627 {
  position:absolute;
  left:0px;
  top:22px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u5628 {
  position:absolute;
  left:332px;
  top:751px;
  width:94px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u5629 {
  position:absolute;
  left:0px;
  top:22px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u5630 {
  position:absolute;
  left:87px;
  top:758px;
  width:24px;
  height:23px;
}
#u5631 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5632 {
  position:absolute;
  left:84px;
  top:782px;
  width:30px;
  height:18px;
}
#u5633 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u5634 {
  position:absolute;
  left:180px;
  top:759px;
  width:24px;
  height:23px;
}
#u5635 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5636 {
  position:absolute;
  left:162px;
  top:782px;
  width:59px;
  height:18px;
}
#u5637 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5638 {
  position:absolute;
  left:273px;
  top:783px;
  width:30px;
  height:18px;
}
#u5639 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5640 {
  position:absolute;
  left:272px;
  top:755px;
  width:30px;
  height:30px;
}
#u5641 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5642 {
  position:absolute;
  left:350px;
  top:782px;
  width:59px;
  height:18px;
}
#u5643 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u5644 {
  position:absolute;
  left:371px;
  top:759px;
  width:22px;
  height:21px;
}
#u5645 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#0079FE;
  line-height:20px;
}
#u5646 {
  position:absolute;
  left:51px;
  top:741px;
  width:94px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#0079FE;
  line-height:20px;
}
#u5646_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#0079FE;
  line-height:20px;
}
#u5646.selected {
}
#u5647 {
  position:absolute;
  left:0px;
  top:22px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5649 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:108px;
}
#u5650 {
  position:absolute;
  left:21px;
  top:26px;
  width:438px;
  height:108px;
}
#u5651 {
  position:absolute;
  left:2px;
  top:46px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:666px;
}
#u5652 {
  position:absolute;
  left:21px;
  top:134px;
  width:31px;
  height:666px;
}
#u5653 {
  position:absolute;
  left:2px;
  top:325px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:666px;
}
#u5654 {
  position:absolute;
  left:426px;
  top:134px;
  width:33px;
  height:666px;
}
#u5655 {
  position:absolute;
  left:2px;
  top:325px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:112px;
}
#u5656 {
  position:absolute;
  left:21px;
  top:800px;
  width:438px;
  height:112px;
}
#u5657 {
  position:absolute;
  left:2px;
  top:48px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5658 {
  position:absolute;
  left:21px;
  top:912px;
  width:436px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5659 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:541px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5660 {
  position:absolute;
  left:51px;
  top:200px;
  width:375px;
  height:541px;
}
#u5661 {
  position:absolute;
  left:2px;
  top:262px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5662 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5663 {
  position:absolute;
  left:51px;
  top:200px;
  width:375px;
  height:40px;
}
#u5664 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u5665 {
  position:absolute;
  left:239px;
  top:209px;
  width:96px;
  height:22px;
  font-size:12px;
  color:#999999;
}
#u5666 {
  position:absolute;
  left:2px;
  top:4px;
  width:92px;
  word-wrap:break-word;
}
#u5667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
  background:inherit;
  background-color:rgba(0, 204, 102, 0.898039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u5667 {
  position:absolute;
  left:142px;
  top:209px;
  width:96px;
  height:22px;
  font-size:12px;
  color:#FFFFFF;
}
#u5668 {
  position:absolute;
  left:2px;
  top:4px;
  width:92px;
  word-wrap:break-word;
}
#u5669 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:497px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5670 {
  position:absolute;
  left:51px;
  top:254px;
  width:375px;
  height:497px;
}
#u5671 {
  position:absolute;
  left:2px;
  top:240px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:49px;
}
#u5672 {
  position:absolute;
  left:215px;
  top:272px;
  width:48px;
  height:49px;
}
#u5673 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5674 {
  position:absolute;
  left:188px;
  top:340px;
  width:102px;
  height:18px;
}
#u5675 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:35px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5676 {
  position:absolute;
  left:124px;
  top:369px;
  width:230px;
  height:35px;
  font-size:12px;
}
#u5677 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u5678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:41px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5678 {
  position:absolute;
  left:123px;
  top:445px;
  width:230px;
  height:41px;
  font-size:12px;
}
#u5679 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u5680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 204, 102, 0.898039215686275);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5680 {
  position:absolute;
  left:142px;
  top:637px;
  width:193px;
  height:20px;
  font-size:12px;
}
#u5681 {
  position:absolute;
  left:2px;
  top:2px;
  width:189px;
  word-wrap:break-word;
}
#u5682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u5682 {
  position:absolute;
  left:175px;
  top:672px;
  width:59px;
  height:18px;
  color:#0099FF;
}
#u5683 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u5684 {
  position:absolute;
  left:249px;
  top:672px;
  width:59px;
  height:18px;
  color:#0099FF;
}
#u5685 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 153, 0, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u5686 {
  position:absolute;
  left:51px;
  top:236px;
  width:375px;
  height:18px;
  font-size:10px;
  color:#999999;
}
#u5687 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  word-wrap:break-word;
}
