body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:-21px;
  width:438px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u5992 {
  position:absolute;
  left:51px;
  top:133px;
  width:375px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u5993 {
  position:absolute;
  left:0px;
  top:6px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u5995 {
  position:absolute;
  left:51px;
  top:133px;
  width:375px;
  height:28px;
}
#u5996 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5997 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  line-height:28px;
}
#u5998 {
  position:absolute;
  left:51px;
  top:161px;
  width:375px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  line-height:28px;
}
#u5999 {
  position:absolute;
  left:0px;
  top:6px;
  width:375px;
  word-wrap:break-word;
}
#u6000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u6000 {
  position:absolute;
  left:51px;
  top:161px;
  width:81px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u6000_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u6000.mouseDown {
  opacity:0.5;
}
#u6001 {
  position:absolute;
  left:20px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u6002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u6002 {
  position:absolute;
  left:61px;
  top:174px;
  width:15px;
  height:15px;
}
#u6003 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#3478F7;
  line-height:20px;
}
#u6004 {
  position:absolute;
  left:377px;
  top:161px;
  width:40px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#3478F7;
  line-height:20px;
}
#u6004_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#3478F7;
  line-height:20px;
}
#u6004.mouseDown {
  opacity:0.5;
}
#u6005 {
  position:absolute;
  left:0px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#3478F7;
  line-height:20px;
}
#u6006 {
  position:absolute;
  left:327px;
  top:161px;
  width:40px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#3478F7;
  line-height:20px;
}
#u6006_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#3478F7;
  line-height:20px;
}
#u6006.mouseDown {
  opacity:0.5;
}
#u6007 {
  position:absolute;
  left:0px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#0079FE;
  line-height:20px;
}
#u6008 {
  position:absolute;
  left:51px;
  top:741px;
  width:94px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#0079FE;
  line-height:20px;
}
#u6008_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#0079FE;
  line-height:20px;
}
#u6008.selected {
}
#u6009 {
  position:absolute;
  left:0px;
  top:22px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:108px;
}
#u6012 {
  position:absolute;
  left:21px;
  top:26px;
  width:438px;
  height:108px;
}
#u6013 {
  position:absolute;
  left:2px;
  top:46px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:666px;
}
#u6014 {
  position:absolute;
  left:21px;
  top:134px;
  width:31px;
  height:666px;
}
#u6015 {
  position:absolute;
  left:2px;
  top:325px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:666px;
}
#u6016 {
  position:absolute;
  left:426px;
  top:134px;
  width:33px;
  height:666px;
}
#u6017 {
  position:absolute;
  left:2px;
  top:325px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:112px;
}
#u6018 {
  position:absolute;
  left:21px;
  top:800px;
  width:438px;
  height:112px;
}
#u6019 {
  position:absolute;
  left:2px;
  top:48px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6020 {
  position:absolute;
  left:21px;
  top:912px;
  width:436px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6021 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:601px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6022 {
  position:absolute;
  left:51px;
  top:200px;
  width:375px;
  height:601px;
}
#u6023 {
  position:absolute;
  left:2px;
  top:292px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:541px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6024 {
  position:absolute;
  left:51px;
  top:200px;
  width:375px;
  height:541px;
}
#u6025 {
  position:absolute;
  left:2px;
  top:262px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6026 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u6027 {
  position:absolute;
  left:71px;
  top:262px;
  width:45px;
  height:45px;
}
#u6028 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6029 {
  position:absolute;
  left:79px;
  top:270px;
  width:30px;
  height:30px;
  font-size:10px;
  color:#FFFFFF;
}
#u6030 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u6031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#FFFFFF;
}
#u6031 {
  position:absolute;
  left:135px;
  top:262px;
  width:231px;
  height:130px;
  color:#FFFFFF;
}
#u6032 {
  position:absolute;
  left:2px;
  top:57px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
}
#u6033 {
  position:absolute;
  left:121px;
  top:277px;
  width:39px;
  height:18px;
}
#u6034 {
  position:absolute;
  left:2px;
  top:1px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6035 {
  position:absolute;
  left:163px;
  top:278px;
  width:175px;
  height:89px;
  font-size:12px;
}
#u6036 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u6037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#FFFFFF;
}
#u6037 {
  position:absolute;
  left:135px;
  top:444px;
  width:231px;
  height:115px;
  color:#FFFFFF;
}
#u6038 {
  position:absolute;
  left:2px;
  top:50px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
}
#u6039 {
  position:absolute;
  left:345px;
  top:512px;
  width:39px;
  height:18px;
}
#u6040 {
  position:absolute;
  left:2px;
  top:1px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6041 {
  position:absolute;
  left:163px;
  top:460px;
  width:175px;
  height:82px;
  font-size:12px;
}
#u6042 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u6043 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:59px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6044 {
  position:absolute;
  left:51px;
  top:742px;
  width:375px;
  height:59px;
}
#u6045 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6046 {
  position:absolute;
  left:71px;
  top:756px;
  width:295px;
  height:32px;
  text-align:left;
}
#u6047 {
  position:absolute;
  left:2px;
  top:8px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6048 {
  position:absolute;
  left:374px;
  top:756px;
  width:32px;
  height:32px;
  font-size:28px;
  color:#999999;
}
#u6049 {
  position:absolute;
  left:2px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u6050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u6050 {
  position:absolute;
  left:79px;
  top:765px;
  width:239px;
  height:15px;
  font-size:11px;
  color:#999999;
}
#u6051 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u6052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u6052 {
  position:absolute;
  left:387px;
  top:507px;
  width:28px;
  height:28px;
}
#u6053 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
