body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:-21px;
  width:438px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u5294 {
  position:absolute;
  left:51px;
  top:133px;
  width:375px;
  height:28px;
}
#u5295 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5296 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5298 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:108px;
}
#u5299 {
  position:absolute;
  left:21px;
  top:26px;
  width:438px;
  height:108px;
}
#u5300 {
  position:absolute;
  left:2px;
  top:46px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:666px;
}
#u5301 {
  position:absolute;
  left:21px;
  top:134px;
  width:31px;
  height:666px;
}
#u5302 {
  position:absolute;
  left:2px;
  top:325px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:666px;
}
#u5303 {
  position:absolute;
  left:426px;
  top:134px;
  width:33px;
  height:666px;
}
#u5304 {
  position:absolute;
  left:2px;
  top:325px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:112px;
}
#u5305 {
  position:absolute;
  left:21px;
  top:800px;
  width:438px;
  height:112px;
}
#u5306 {
  position:absolute;
  left:2px;
  top:48px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5307 {
  position:absolute;
  left:21px;
  top:921px;
  width:436px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u5308 {
  position:absolute;
  left:51px;
  top:161px;
  width:375px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u5309 {
  position:absolute;
  left:0px;
  top:6px;
  width:375px;
  word-wrap:break-word;
}
#u5310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#3478F7;
  text-align:left;
  line-height:20px;
}
#u5310 {
  position:absolute;
  left:51px;
  top:161px;
  width:81px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#3478F7;
  text-align:left;
  line-height:20px;
}
#u5310_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#3478F7;
  text-align:left;
  line-height:20px;
}
#u5310.mouseDown {
  opacity:0.5;
}
#u5311 {
  position:absolute;
  left:20px;
  top:14px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#3478F7;
  line-height:20px;
}
#u5312 {
  position:absolute;
  left:377px;
  top:161px;
  width:40px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#3478F7;
  line-height:20px;
}
#u5312_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#3478F7;
  line-height:20px;
}
#u5312.mouseDown {
  opacity:0.5;
}
#u5313 {
  position:absolute;
  left:0px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#3478F7;
  line-height:20px;
}
#u5314 {
  position:absolute;
  left:327px;
  top:161px;
  width:40px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#3478F7;
  line-height:20px;
}
#u5314_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#3478F7;
  line-height:20px;
}
#u5314.mouseDown {
  opacity:0.5;
}
#u5315 {
  position:absolute;
  left:0px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5317 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:108px;
}
#u5318 {
  position:absolute;
  left:21px;
  top:26px;
  width:438px;
  height:108px;
}
#u5319 {
  position:absolute;
  left:2px;
  top:46px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:666px;
}
#u5320 {
  position:absolute;
  left:21px;
  top:134px;
  width:31px;
  height:666px;
}
#u5321 {
  position:absolute;
  left:2px;
  top:325px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:666px;
}
#u5322 {
  position:absolute;
  left:426px;
  top:134px;
  width:33px;
  height:666px;
}
#u5323 {
  position:absolute;
  left:2px;
  top:325px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:112px;
}
#u5324 {
  position:absolute;
  left:21px;
  top:800px;
  width:438px;
  height:112px;
}
#u5325 {
  position:absolute;
  left:2px;
  top:48px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5326 {
  position:absolute;
  left:21px;
  top:921px;
  width:436px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5327 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:200px;
  background:inherit;
  background-color:rgba(0, 153, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5328 {
  position:absolute;
  left:51px;
  top:198px;
  width:375px;
  height:200px;
}
#u5329 {
  position:absolute;
  left:2px;
  top:92px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:132px;
}
#u5330 {
  position:absolute;
  left:113px;
  top:229px;
  width:107px;
  height:132px;
}
#u5331 {
  position:absolute;
  left:2px;
  top:58px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:79px;
  background:inherit;
  background-color:rgba(0, 153, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u5332 {
  position:absolute;
  left:268px;
  top:274px;
  width:97px;
  height:79px;
  font-size:18px;
  color:#FFFFFF;
}
#u5333 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u5334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5334 {
  position:absolute;
  left:51px;
  top:421px;
  width:59px;
  height:18px;
}
#u5335 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:51px;
}
#u5336 {
  position:absolute;
  left:51px;
  top:447px;
  width:369px;
  height:50px;
  text-align:left;
}
#u5337 {
  position:absolute;
  left:2px;
  top:9px;
  width:365px;
  word-wrap:break-word;
}
#u5338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5338 {
  position:absolute;
  left:54px;
  top:452px;
  width:40px;
  height:40px;
}
#u5339 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5340 {
  position:absolute;
  left:59px;
  top:456px;
  width:30px;
  height:30px;
}
#u5341 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(75, 216, 99, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4BD863;
}
#u5342 {
  position:absolute;
  left:363px;
  top:457px;
  width:50px;
  height:30px;
  color:#4BD863;
}
#u5343 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u5344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:51px;
}
#u5344 {
  position:absolute;
  left:51px;
  top:497px;
  width:375px;
  height:50px;
  text-align:left;
}
#u5345 {
  position:absolute;
  left:2px;
  top:9px;
  width:371px;
  word-wrap:break-word;
}
#u5346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:51px;
}
#u5346 {
  position:absolute;
  left:51px;
  top:546px;
  width:375px;
  height:50px;
  text-align:left;
}
#u5347 {
  position:absolute;
  left:2px;
  top:9px;
  width:371px;
  word-wrap:break-word;
}
#u5348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(75, 216, 99, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5348 {
  position:absolute;
  left:54px;
  top:501px;
  width:40px;
  height:40px;
}
#u5349 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5350 {
  position:absolute;
  left:54px;
  top:552px;
  width:40px;
  height:40px;
}
#u5351 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5352 {
  position:absolute;
  left:59px;
  top:506px;
  width:30px;
  height:30px;
}
#u5353 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(75, 216, 99, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4BD863;
}
#u5354 {
  position:absolute;
  left:363px;
  top:507px;
  width:50px;
  height:30px;
  color:#4BD863;
}
#u5355 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u5356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(75, 216, 99, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4BD863;
}
#u5356 {
  position:absolute;
  left:363px;
  top:556px;
  width:50px;
  height:30px;
  color:#4BD863;
}
#u5357 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u5358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5358 {
  position:absolute;
  left:58px;
  top:556px;
  width:30px;
  height:30px;
}
#u5359 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5360 {
  position:absolute;
  left:61px;
  top:173px;
  width:15px;
  height:15px;
}
#u5361 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5363 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#C6BED3;
  line-height:20px;
}
#u5364 {
  position:absolute;
  left:51px;
  top:741px;
  width:374px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#C6BED3;
  line-height:20px;
}
#u5365 {
  position:absolute;
  left:0px;
  top:22px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u5366 {
  position:absolute;
  left:51px;
  top:741px;
  width:94px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u5367 {
  position:absolute;
  left:0px;
  top:22px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u5368 {
  position:absolute;
  left:145px;
  top:741px;
  width:94px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u5369 {
  position:absolute;
  left:0px;
  top:22px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u5370 {
  position:absolute;
  left:239px;
  top:741px;
  width:94px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u5371 {
  position:absolute;
  left:0px;
  top:22px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u5372 {
  position:absolute;
  left:332px;
  top:741px;
  width:94px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u5373 {
  position:absolute;
  left:0px;
  top:22px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u5374 {
  position:absolute;
  left:87px;
  top:748px;
  width:24px;
  height:23px;
}
#u5375 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5376 {
  position:absolute;
  left:84px;
  top:772px;
  width:30px;
  height:18px;
}
#u5377 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u5378 {
  position:absolute;
  left:180px;
  top:749px;
  width:24px;
  height:23px;
}
#u5379 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5380 {
  position:absolute;
  left:162px;
  top:772px;
  width:59px;
  height:18px;
}
#u5381 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5382 {
  position:absolute;
  left:273px;
  top:773px;
  width:30px;
  height:18px;
}
#u5383 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5384 {
  position:absolute;
  left:272px;
  top:745px;
  width:30px;
  height:30px;
}
#u5385 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5386 {
  position:absolute;
  left:350px;
  top:772px;
  width:59px;
  height:18px;
}
#u5387 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u5388 {
  position:absolute;
  left:371px;
  top:749px;
  width:22px;
  height:21px;
}
#u5389 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
