*{
    padding: 0;
    margin: 0
}
html, body, #app, #home {
  height: 100%;
  width: 100%;
}
.clearfix::after{
    content: "";
    height: 0;
    display: block;
    clear: both;
}
body a:hover{
    text-decoration: none;
}
#login{
    min-height: 17.786667rem;
    background: url(../images/44.jpg)center !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    position:fixed;
    z-index: 200;
}
#login .app{
    min-height: 17.786667rem;
    background: rgba(255,255,255,0.4);
    /* display: flex; */
}

#login .lefta{
    position: absolute;
    left: .266667rem;
    top: .266667rem;
    height: .533333rem;
    color: #fff;
    font-size: .32rem;
    text-decoration: none;
    background: transparent;
    z-index: 3;
}
#login .righta{
    position: absolute;
    top: .266667rem;
    right: .266667rem;
    height: .533333rem;
    color: #fff;
    text-decoration: none;
    background: transparent;
    z-index: 3;
} 
#login .righta i{
    font-size: .453333rem;
}
#login .main{
    padding-top: .4rem;
}

#login .main img{
    width: 4.8rem;
    height: 3.146667rem;
    padding-bottom: .8rem;
    display: block;
    margin: 0 auto;
}
#login .search1{
    width: 10rem;
    margin: 0 auto;
    text-align: center;
}
#login .main input{
    height: 1.066667rem;
    width: 8rem;
    border: none;
    text-indent: 2em;
    color: #999;
    font-size: .373333rem;
    background: rgba(255,255,255,0.7);
}
#login .main .huoqu{
    margin: 0 auto;
    margin-top: 1.066667rem;
    height: 1.066667rem;
    width: 8rem;
    border-radius: .8rem;
    display: block;
    color: #999;
    font-size: .373333rem;
    text-align: center;
    line-height:  1.066667rem;
    background: rgba(255,255,255,0.7);
}
#login .main p{
    width: 8rem;
    margin: 0 auto;
    margin-top: .8rem;
    font-size: .373333rem;
}
#login .main p a{
    color: #333;
    float: left;
}
#login .main p a:nth-child(2){
    float: right;
}
/* 其他登录方式 */
#login .Other-login{
    /* min-height:10.666667rem;  */
    padding-top: 4.533333rem;
}
#login p.other1{
    color: #fff;
    text-align: center;
    font-size: .373333rem;
    margin-bottom: .8rem;
    position: relative;
}
#login p.other1::before{
    content: "";
    width: 3.733333rem;
    display: block;
    border-bottom: 1px solid #fff;
    position: absolute;
    top: .24rem;
    left: 0px;
}
#login p.other1::after{
    content: "";
    width: 3.733333rem;
    display: block;
    border-bottom: 1px solid #fff;
    position: absolute;
    top: .24rem;
    left: 6.293333rem;
}
#login .Other-login ul{
    width: 5.6rem;
    margin: 0 auto;
}
#login .Other-login ul li{
    float: left;
    margin-right: .746667rem;
}
#login .Other-login ul li a img{
    width: 1.066667rem;
    height: 1.066667rem;
}
#login .Other-login ul li a .weixx{
    width: 1.2rem;
    height: 1.2rem;
}
#login p.xieyi{
    color: rgba(255,255,255,0.6);
    text-align: center;
    font-size: .373333rem;
    margin-top: .266667rem;
}
#login .Other-login p a{
    color: #0066FF;
}


