body a:hover {
  text-decoration: none;
}
a {
  color: black;
}
header a {
  z-index: 16;
}
header{
  top: 0;
}
body {
  height: 16.453333rem;
  background-color: #f2f2f2;
}
section {
  width: 10rem;
}
.zhanwei{
  padding-top: 1.066667rem;
}
section .start {
  width: 9.466667rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: .4rem;
  padding-top: .133333rem;
  height: 4rem;
  background: #fff;
  border: 1px solid #eee;
}
section .start p {
  font-size: .48rem;
  margin-top: .133333rem;
  margin-left: .133333rem;
  color: #666666;
}
section .start .finish {
  float: right;
  margin-right: .133333rem;
}
section .start .icon-shijian {
  color: #666666;
}
section .start .icon-dian2 {
  color: #00cc00 !important;
}
section .start .icon-dian3 {
  color: red;
}
section .start .icon-coin {
  color: yellow;
}
footer ul li:nth-child(4) .iconfont{
  color: rgb(37, 37, 37);
}
footer ul li:nth-child(4) a span{
  color: rgb(0, 0, 0);
}