body{
    background: #fff !important;
}
.headContent a{
    font-size: .32rem;
}
.verification h2{
    margin-left: .533333rem;
    margin-top: .8rem;
    color: #666;
    font-size: .586667rem;
}
.verification p{
    margin-top: .266667rem;
    margin-left: .533333rem;
    color: #797979;
    font-size: .373333rem;
}
.search{
    margin-top: .8rem;
    position: relative;
    text-align: center;
}
.verification input{
    height: 1.066667rem;
    width: 8.906667rem;
    border: none;
    border-bottom: 1px solid #D7D7D7;
    text-indent: 1em;
    color: #BCBCBC;
    font-size: .373333rem;
}
.verification a{ 
    color: #3478F7;
    text-decoration: underline;
}
.verification .a2{
    margin: 0 auto;
    margin-top: 1.066667rem;
    height: 1.066667rem;
    width: 8.906667rem;
    border-radius: .8rem;
    display: block;
    color: #fff;
    text-align: center;
    line-height:  1.066667rem;
    background: #1296DB;
    opacity: 0.7;
    text-decoration: none;
}