body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:-21px;
  width:438px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u3890 {
  position:absolute;
  left:51px;
  top:133px;
  width:375px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u3891 {
  position:absolute;
  left:0px;
  top:6px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u3893 {
  position:absolute;
  left:51px;
  top:133px;
  width:375px;
  height:28px;
}
#u3894 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3895 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  line-height:28px;
}
#u3896 {
  position:absolute;
  left:51px;
  top:161px;
  width:375px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  line-height:28px;
}
#u3897 {
  position:absolute;
  left:0px;
  top:6px;
  width:375px;
  word-wrap:break-word;
}
#u3898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3898 {
  position:absolute;
  left:64px;
  top:174px;
  width:15px;
  height:15px;
  color:#FFFFFF;
}
#u3899 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3900 {
  position:absolute;
  left:51px;
  top:741px;
  width:375px;
  height:60px;
  overflow:hidden;
}
#u3900_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3900_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u3902 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u3903 {
  position:absolute;
  left:0px;
  top:22px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u3904 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u3905 {
  position:absolute;
  left:0px;
  top:20px;
  width:94px;
  word-wrap:break-word;
}
#u3906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u3906 {
  position:absolute;
  left:94px;
  top:0px;
  width:94px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u3907 {
  position:absolute;
  left:0px;
  top:20px;
  width:94px;
  word-wrap:break-word;
}
#u3908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u3908 {
  position:absolute;
  left:188px;
  top:0px;
  width:94px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u3909 {
  position:absolute;
  left:0px;
  top:20px;
  width:94px;
  word-wrap:break-word;
}
#u3910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u3910 {
  position:absolute;
  left:281px;
  top:0px;
  width:94px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u3911 {
  position:absolute;
  left:0px;
  top:20px;
  width:94px;
  word-wrap:break-word;
}
#u3912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#0079FE;
  line-height:20px;
}
#u3912 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#0079FE;
  line-height:20px;
}
#u3912_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#0079FE;
  line-height:20px;
}
#u3912.selected {
}
#u3913 {
  position:absolute;
  left:0px;
  top:22px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3915 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:108px;
}
#u3916 {
  position:absolute;
  left:21px;
  top:26px;
  width:438px;
  height:108px;
}
#u3917 {
  position:absolute;
  left:2px;
  top:46px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:666px;
}
#u3918 {
  position:absolute;
  left:21px;
  top:134px;
  width:31px;
  height:666px;
}
#u3919 {
  position:absolute;
  left:2px;
  top:325px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:666px;
}
#u3920 {
  position:absolute;
  left:426px;
  top:134px;
  width:33px;
  height:666px;
}
#u3921 {
  position:absolute;
  left:2px;
  top:325px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:112px;
}
#u3922 {
  position:absolute;
  left:21px;
  top:800px;
  width:438px;
  height:112px;
}
#u3923 {
  position:absolute;
  left:2px;
  top:48px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3924 {
  position:absolute;
  left:21px;
  top:912px;
  width:436px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3925 {
  position:absolute;
  left:51px;
  top:201px;
  width:397px;
  height:609px;
  overflow:hidden;
}
#u3925_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:609px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u3925_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:558px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3926 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:558px;
}
#u3927 {
  position:absolute;
  left:2px;
  top:271px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3928 {
  position:absolute;
  left:13px;
  top:23px;
  width:350px;
  height:168px;
}
#u3929 {
  position:absolute;
  left:2px;
  top:76px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:168px;
}
#u3930 {
  position:absolute;
  left:13px;
  top:23px;
  width:350px;
  height:168px;
}
#u3931 {
  position:absolute;
  left:2px;
  top:76px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:316px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3932 {
  position:absolute;
  left:13px;
  top:191px;
  width:350px;
  height:316px;
}
#u3933 {
  position:absolute;
  left:2px;
  top:150px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3934 {
  position:absolute;
  left:25px;
  top:210px;
  width:59px;
  height:18px;
}
#u3935 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3936 {
  position:absolute;
  left:25px;
  top:231px;
  width:116px;
  height:18px;
}
#u3937 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3938 {
  position:absolute;
  left:25px;
  top:256px;
  width:81px;
  height:14px;
  font-size:12px;
}
#u3939 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u3940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3940 {
  position:absolute;
  left:25px;
  top:279px;
  width:78px;
  height:14px;
  font-size:12px;
}
#u3941 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u3942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3942 {
  position:absolute;
  left:25px;
  top:300px;
  width:102px;
  height:14px;
  font-size:12px;
}
#u3943 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u3944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3944 {
  position:absolute;
  left:25px;
  top:320px;
  width:93px;
  height:14px;
  font-size:12px;
}
#u3945 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u3946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3946 {
  position:absolute;
  left:25px;
  top:342px;
  width:69px;
  height:14px;
  font-size:12px;
}
#u3947 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u3948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3948 {
  position:absolute;
  left:25px;
  top:365px;
  width:81px;
  height:14px;
  font-size:12px;
}
#u3949 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u3950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3950 {
  position:absolute;
  left:25px;
  top:396px;
  width:59px;
  height:18px;
}
#u3951 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3952 {
  position:absolute;
  left:25px;
  top:422px;
  width:190px;
  height:14px;
  font-size:12px;
}
#u3953 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u3954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3954 {
  position:absolute;
  left:25px;
  top:447px;
  width:226px;
  height:14px;
  font-size:12px;
}
#u3955 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  white-space:nowrap;
}
#u3956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3956 {
  position:absolute;
  left:25px;
  top:472px;
  width:178px;
  height:14px;
  font-size:12px;
}
#u3957 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u3959 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#C6BED3;
  line-height:20px;
}
#u3960 {
  position:absolute;
  left:51px;
  top:741px;
  width:374px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#C6BED3;
  line-height:20px;
}
#u3961 {
  position:absolute;
  left:0px;
  top:22px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u3962 {
  position:absolute;
  left:51px;
  top:741px;
  width:94px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u3963 {
  position:absolute;
  left:0px;
  top:22px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u3964 {
  position:absolute;
  left:145px;
  top:741px;
  width:94px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u3965 {
  position:absolute;
  left:0px;
  top:22px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u3966 {
  position:absolute;
  left:239px;
  top:741px;
  width:94px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u3967 {
  position:absolute;
  left:0px;
  top:22px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u3968 {
  position:absolute;
  left:332px;
  top:741px;
  width:94px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  line-height:20px;
}
#u3969 {
  position:absolute;
  left:0px;
  top:22px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u3970 {
  position:absolute;
  left:87px;
  top:748px;
  width:24px;
  height:23px;
}
#u3971 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3972 {
  position:absolute;
  left:84px;
  top:772px;
  width:30px;
  height:18px;
}
#u3973 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u3974 {
  position:absolute;
  left:180px;
  top:749px;
  width:24px;
  height:23px;
}
#u3975 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3976 {
  position:absolute;
  left:162px;
  top:772px;
  width:59px;
  height:18px;
}
#u3977 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3978 {
  position:absolute;
  left:273px;
  top:773px;
  width:30px;
  height:18px;
}
#u3979 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3980 {
  position:absolute;
  left:272px;
  top:745px;
  width:30px;
  height:30px;
}
#u3981 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3982 {
  position:absolute;
  left:350px;
  top:772px;
  width:59px;
  height:18px;
}
#u3983 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u3984 {
  position:absolute;
  left:371px;
  top:749px;
  width:22px;
  height:21px;
}
#u3985 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
